html {
  box-sizing: border-box;
  overflow-x: hidden;

  &.scroll {
    overflow: visible;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #00a8ff;
  color: white;
  line-height: 1.3;
  position: relative;
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}
