.card {
  // width: 30vw;
  height: 27vw;
  max-height: 70vh;
  aspect-ratio: 9 / 9;
  margin: 0 auto;
  // margin-top: 150px;
  opacity: 0;
  transform: scale(0.5);

  .is-touch & {
    height: 240px;
  }

  &.is-visible {
    opacity: 1;
    transform: none;
    transition: opacity 0.5s ease, transform 1s var(--ease-out-bounce) 0s;
  }

  &:nth-child(even) {
    transform: scale(0.8);

    .is-touch & {
      display: none;
    }
  }

  &:hover {
    .text {
      transform: scale(0.7);
    }

    .is-touch & {
      .text {
        transform: none;
      }
    }
  }
}

.card__content {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 11vw;
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 1s var(--ease-out-expo);
  cursor: pointer;
  z-index: 1;

  &:hover {
    border-radius: 50%;
  }
}

.card__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
