$fontSize: 14px;
$height: 15vw;
$fontSizeTouch: 1rem;
$heightTouch: 170px;

@keyframes rotate-loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  transform: scale(0.8);
  position: absolute;
  top: 50%;
  left: 0%;
  transition: transform 1.5s var(--ease-out-bounce);
  width: 100%;
  text-transform: uppercase;

  .is-visible & {
    transform: none;
  }

  /*.text__content {
    animation: rotate-loop 15s linear infinite;
  }*/
}

/*
.card {
  &:nth-child(2) {
    .text__content {
      animation: rotate-loop 15s linear infinite 1s;
    }
  }

  &:nth-child(4) {
    .text__content {
      animation: rotate-loop 15s linear infinite 0.5s;
    }
  }
}*/

.text__words {
  font-size: $fontSize;
  text-align: center;
  position: absolute;
  top: -$height;
  left: calc(50% - ($fontSize / 2));
  width: 100%;
  height: calc($height / 2);
  pointer-events: none;

  .is-touch & {
    font-size: $fontSizeTouch;
    top: -$heightTouch;
    height: calc($heightTouch / 2);
    left: calc(50% - ($fontSizeTouch / 2));
  }

  @for $i from 1 through 100 {
    .char:nth-child(#{$i}) {
      transform: rotate(($i * 6) + deg);
    }
  }

  .char {
    height: $height;
    width: $fontSize;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom center;

    .is-touch & {
      height: $heightTouch;
      width: $fontSizeTouch;
    }
  }
}
